/* Color Palette
Pastel Red: #E06651
Brown: #A16B62
Slate Blue: #618B79
Gray: #615553
Light Green: #51E0A3

Font
font-family: "Open Sans", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.playlistContainer {
    background-color: black;
    grid-area: savePlaylist;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlistContainer input {
    width: 22rem;
    height: 2.719rem;
    margin: 1.34rem;
    font-size: 18px;
}

.playlistContainer button {
    margin: 1.34rem;
    height: 2rem;
    width: 12rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}