
.searchContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    background-color: black;
    align-items: center;
    padding: 1rem;
    grid-area: search;
  
    .searchInput {
      font-size: 14px;
      max-width: 200px;
      padding: 5px;
      transition: all 0.5s ease;
      left: 30px;
      box-sizing: border-box;
      border: black solid 1px;
    }
  
    .searchExpanded {
      /*max-width: 500px*/
      min-width: -webkit-fill-available;
      transition: all 0.5s ease;
      size: 500px;
      opacity: 1;
    }
  }