
.container {
    position: relative;
    width: 220px;
    background-color: black;
  
    .searchInput {
      font-size: 14px;
      max-width: 200px;
      padding: 5px;
      transition: all 0.5s ease;
      position: absolute;
      left: 30px;
      box-sizing: border-box;
      border: black solid 1px;
    }
  
    .searchExpanded {
      max-width: 200px;
      opacity: 1;
    }
  
    .searchWrapper {
      display: block;
    }
  }