
.resultsContainer {
    background-color: white;
    grid-area: results;
}

.results {
    background-color: gray;
}

.results ul {
    list-style: none;
}

.results button {
    background-color: aliceblue;
}