
.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 50px;
    background-color: black;
    align-items: center;
    padding: 1rem;
  
    .searchInput {
      font-size: 14px;
      max-width: 200px;
      padding: 5px;
      transition: all 0.5s ease;
      left: 30px;
      box-sizing: border-box;
      border: black solid 1px;
      justify-items: center;
    }
  
    .searchExpanded {
      max-width: 500px;
      opacity: 1;
    }
  }