

.tracklistContainer {
    background-color: black;
    overflow: scroll;
    height: 70%;
}

.tracklistContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}